.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(131, 131, 131, 0.4);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box; /* padding 줘도 박스사이즈 변경안하게 명령*/
}
/*<!-- 모든 link들은 기본값으로 blue 색상을 가지고있음--> */
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute; /*absolute는 가장가까운 relative를 가진 부모 기준으로 움직임(없으면 body기준)*/
  left: 15px;
  bottom: 15px;
}
.nav__optiondot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: tomato;
  font-size: 0px;
  left: 30px;
  bottom: 30px;
}
